body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.page-container {
  display: flex;
  height: 100vh; /* Set the height of the container to the full viewport height */
}

.main-btn {
  background-color: #4aa747;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.main-btn:hover {
  opacity: 80%;
}

.secondary-btn {
  background-color: transparent;
  color: #fff; /* Set to the main color or your preference */
  border: 2px solid #fff; /* Set to the main color or your preference */
  padding: 15px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 10px;
  min-width: 170px;
}

.secondary-btn:hover {
  background-color: #333336;
}

.user-btn {
  background-color: #fff;
  color: #333;
}

.user-btn:hover {
  background-color: #fff;
  opacity: 0.7;
}

.user-btn img {
  display: inline-block;
  width: 20px; /* Adjust icon width as needed */
  height: 20px; /* Adjust icon height as needed */
  background-size: cover;
  margin-right: 5px;
  position: relative;
  top: 3px;
}

.sidebar {
  width: 20%;
  min-width: 200px;
  max-width: 300px;
  background-color: #5b5f69;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
}

.divider {
  height: 1px;
  background-color: white;
  margin: 10px 0;
}

.exercise-list ul {
  list-style: none;
  padding: 0;
}

.exercise-list li {
  margin-bottom: 5px;
  padding: 20px;
  cursor: pointer;
}

.exercise-list li:hover {
  background-color: #873236;
}

.exercise-list li.active {
  background-color: #873236;
}

.instruction-paragraph {
  font-size: 16px;
  text-align: justify;
  line-height: 30px;
  background-color: slategrey;
  border-radius: 10px;
  padding: 25px;
}

.btm-sidebar-container {
  margin-top: auto; /* Push to the bottom */
  padding-bottom: 10px;
}

.new-exr-btn i {
  color: white;
}

.user-settings {
  align-items: left;
}

.user-settings a {
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.user-settings a:hover {
  background-color: #333336;
}

.secondary-btn.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.username {
  margin-right: auto; /* Push the username to the far left */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  top: -110px;
  right: -5px;
  padding: 7px;
  border-radius: 7px;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  min-width: 120px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;

  /* Add transition for smooth ease-in-ease-out animation */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(-10px);
}

/* Show the dropdown menu on hover */
.show {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.secondary-btn.logout {
  width: 80px;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.secondary-btn.logout:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.secondary-btn.logout .icon {
  display: inline-block;
  width: 15px; /* Adjust icon width as needed */
  height: 15px; /* Adjust icon height as needed */
  background-image: url("../images/logout.png");
  background-size: cover;
  margin-right: 5px; /* Add margin between icon and text */
}

#settingsButton .icon {
  display: inline-block;
  width: 15px; /* Adjust icon width as needed */
  height: 15px; /* Adjust icon height as needed */
  background-image: url("../images/setting.png");
  background-size: cover;
  margin-right: 5px; /* Add margin between icon and text */
}

.chat-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messages-container {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  width: 85%;
  font-size: 18px;
}

.messages {
  display: flex;
  flex-direction: column;
}

.default-message {
  font-size: large;
}

.user-message:nth-child(even) {
  background-color: #f2f2f2; /* Lighter background color */
}

.user-message:nth-child(odd) {
  background-color: #ffffff; /* White background color */
}

.user-message {
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
}

.message-username {
  font-weight: bold;
  margin-bottom: 10px;
}

.input-section {
  position: relative;
}

#input-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-top: 8px;
}

.chat-input {
  padding-top: 16px;
  padding-left: 16px;
  width: 683px;
  min-height: 30px;
  max-height: 200px;
  overflow-y: auto;
  color: #434446;
  font-size: 18px;
  border-radius: 15px;
  border: none;
  outline: none;
  flex: 1;
  resize: vertical;
  background-color: transparent;
}

/* Positioning the input-container to bottom right */
.input-section .main-btn {
  margin-right: 8px;
  margin-bottom: 12px;
}

.input-section p {
  margin-top: 10px;
  margin-left: 80px;
  color: gray;
  text-align: center;
  font-size: 12px;
}

/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px; /* Place content 60px from the top */
}

/* Modal Content */
.modal-content {
  background-color: #5b5f69;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 32px;
  padding-bottom: 22px;
  border: 1px solid #888;
  border-radius: 8px;
  width: 80%;
  max-width: 340px;
  color: white;
}

.modal-content input {
  border-radius: 4px;
  border: none;
  padding: 8px;
  margin-bottom: 12px;
}

.modal-content label {
  font-size: 18px;
  margin-right: 12px;
}

.modal-content button {
  margin-top: 12px;
  margin-right: 8px;
  padding: 14px 22px;
}

.cancel-btn {
  min-width: 0px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  margin-top: 10px;
}
